In [ ]:
# EDA and Machine Learning Phase 3 & 4

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pickle
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df1=pd.read_csv('Table1.csv')
pd.set_option('display.max_columns', None)
df1

,Sno,BHK,Property,Beds,Baths,Balcony,Address,City,State,Country,Landmarks
0,1,6,Single Family,6,5.0,1.0,1867 N Burling Street,Chicago,IL,USA,Lincoln Park
1,2,10,Single Family,10,8.0,1.0,2026 N Kenmore Avenue,Chicago,IL,USA,Lincoln Park
2,3,3,Condominium,3,4.0,1.0,"500 W Superior Street, #2703",Chicago,IL,USA,Near North Side
3,4,6,Single Family,6,6.0,1.0,52 E BELLEVUE Place,Chicago,IL,USA,Near North Side
4,5,5,Single Family,5,6.0,NaN,1970 N Burling Street,Chicago,IL,USA,Lincoln Park
...,...,...,...,...,...,...,...,...,...,...,...
735,736,4,Single-family,4,25.0,2.0,"4001 Silver Creek Rd,",SAN JOSE,CA,USA,0.25% buyer's agent fee
736,737,2,Condo,2,2.0,2.0,"13604 Caldwell Dr #29,",Austin,TX,USA,Has A/C
737,738,3,Single-family,3,2.0,2.0,"1615 Glencrest Dr,",Austin,TX,USA,In-unit laundry (washer and dryer)
738,739,3,Single-family,3,2.0,2.0,"10668 Windrose Point Ave,",Las Vegas,NV,USA,Has A/C
739,740,4,Single-family,4,3.0,2.0,"4617 Ashington St,",Las Vegas,NV,USA,Has A/C

In [3]:
df2=pd.read_csv('Table2.csv')
pd.set_option('display.max_columns', None)
df2

     Sno   Carpet  Status  Floor           Transaction    Year   Price
0      1   9000.0  ACTIVE    1.0              FOR SALE  2024.0  1111.0
1      2  13400.0  ACTIVE    2.0              FOR SALE  1885.0   746.0
2      3  10000.0  ACTIVE    2.0  NEW LISTING FOR SALE  2007.0   890.0
3      4      NaN     NaN    3.0              FOR SALE  1885.0     NaN
4      5   7800.0  ACTIVE    1.0              FOR SALE  1931.0   997.0
..   ...      ...     ...    ...                   ...     ...     ...
735  736   2071.0  ACTIVE    NaN     FOR SALE - ACTIVE  2001.0   869.0
736  737   1106.0  ACTIVE    NaN     FOR SALE - ACTIVE  2007.0   325.0
737  738   1243.0  ACTIVE    NaN     FOR SALE - ACTIVE  1958.0   382.0
738  739   1305.0  ACTIVE    NaN     FOR SALE - ACTIVE  2000.0   360.0
739  740   1924.0  ACTIVE    NaN     FOR SALE - ACTIVE  1997.0   251.0

[740 rows x 7 columns]

In [4]:
df3=pd.read_csv('Table3.csv')
pd.set_option('display.max_columns', None)
df3

,Sno,Furnished,Facing,Parking,Ownership,Booking,Buy
0,1,Fully Furnished,East,Yes,NaN,2000000,10000000
1,2,Semi Furnished,South,NaN,NaN,1999000,9995000
2,3,Unfurnished,East,Yes,NaN,1780000,8900000
3,4,Fully Furnished,NaN,Yes,NaN,1580000,7900000
4,5,Fully Furnished,North,Yes,NaN,1555550,7777750
...,...,...,...,...,...,...,...
735,736,Fully Furnished,East,2 garage spaces,NaN,35980020,1799000
736,737,Unfurnished,North,$210 monthly HOA fee,NaN,7200020,360000
737,738,Fully Furnished,East,2 garage spaces,NaN,9500020,475000
738,739,Semi Furnished,East,$65 monthly HOA fee,NaN,9400020,470000
739,740,Semi Furnished,North,$35 monthly HOA fee,NaN,9640020,482000

In [5]:
df4 = pd.merge(df1,df2,left_on = 'Sno', right_on = 'Sno')
df4

,Sno,BHK,Property,Beds,Baths,Balcony,Address,City,State,Country,Landmarks,Carpet,Status,Floor,Transaction,Year,Price
0,1,6,Single Family,6,5.0,1.0,1867 N Burling Street,Chicago,IL,USA,Lincoln Park,9000.0,ACTIVE,1.0,FOR SALE,2024.0,1111.0
1,2,10,Single Family,10,8.0,1.0,2026 N Kenmore Avenue,Chicago,IL,USA,Lincoln Park,13400.0,ACTIVE,2.0,FOR SALE,1885.0,746.0
2,3,3,Condominium,3,4.0,1.0,"500 W Superior Street, #2703",Chicago,IL,USA,Near North Side,10000.0,ACTIVE,2.0,NEW LISTING FOR SALE,2007.0,890.0
3,4,6,Single Family,6,6.0,1.0,52 E BELLEVUE Place,Chicago,IL,USA,Near North Side,NaN,NaN,3.0,FOR SALE,1885.0,NaN
4,5,5,Single Family,5,6.0,NaN,1970 N Burling Street,Chicago,IL,USA,Lincoln Park,7800.0,ACTIVE,1.0,FOR SALE,1931.0,997.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,736,4,Single-family,4,25.0,2.0,"4001 Silver Creek Rd,",SAN JOSE,CA,USA,0.25% buyer's agent fee,2071.0,ACTIVE,NaN,FOR SALE - ACTIVE,2001.0,869.0
736,737,2,Condo,2,2.0,2.0,"13604 Caldwell Dr #29,",Austin,TX,USA,Has A/C,1106.0,ACTIVE,NaN,FOR SALE - ACTIVE,2007.0,325.0
737,738,3,Single-family,3,2.0,2.0,"1615 Glencrest Dr,",Austin,TX,USA,In-unit laundry (washer and dryer),1243.0,ACTIVE,NaN,FOR SALE - ACTIVE,1958.0,382.0
738,739,3,Single-family,3,2.0,2.0,"10668 Windrose Point Ave,",Las Vegas,NV,USA,Has A/C,1305.0,ACTIVE,NaN,FOR SALE - ACTIVE,2000.0,360.0
739,740,4,Single-family,4,3.0,2.0,"4617 Ashington St,",Las Vegas,NV,USA,Has A/C,1924.0,ACTIVE,NaN,FOR SALE - ACTIVE,1997.0,251.0

In [6]:
df = pd.merge(df3,df4,left_on = 'Sno', right_on = 'Sno')
df

,Sno,Furnished,Facing,Parking,Ownership,Booking,Buy,BHK,Property,Beds,Baths,Balcony,Address,City,State,Country,Landmarks,Carpet,Status,Floor,Transaction,Year,Price
0,1,Fully Furnished,East,Yes,NaN,2000000,10000000,6,Single Family,6,5.0,1.0,1867 N Burling Street,Chicago,IL,USA,Lincoln Park,9000.0,ACTIVE,1.0,FOR SALE,2024.0,1111.0
1,2,Semi Furnished,South,NaN,NaN,1999000,9995000,10,Single Family,10,8.0,1.0,2026 N Kenmore Avenue,Chicago,IL,USA,Lincoln Park,13400.0,ACTIVE,2.0,FOR SALE,1885.0,746.0
2,3,Unfurnished,East,Yes,NaN,1780000,8900000,3,Condominium,3,4.0,1.0,"500 W Superior Street, #2703",Chicago,IL,USA,Near North Side,10000.0,ACTIVE,2.0,NEW LISTING FOR SALE,2007.0,890.0
3,4,Fully Furnished,NaN,Yes,NaN,1580000,7900000,6,Single Family,6,6.0,1.0,52 E BELLEVUE Place,Chicago,IL,USA,Near North Side,NaN,NaN,3.0,FOR SALE,1885.0,NaN
4,5,Fully Furnished,North,Yes,NaN,1555550,7777750,5,Single Family,5,6.0,NaN,1970 N Burling Street,Chicago,IL,USA,Lincoln Park,7800.0,ACTIVE,1.0,FOR SALE,1931.0,997.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,736,Fully Furnished,East,2 garage spaces,NaN,35980020,1799000,4,Single-family,4,25.0,2.0,"4001 Silver Creek Rd,",SAN JOSE,CA,USA,0.25% buyer's agent fee,2071.0,ACTIVE,NaN,FOR SALE - ACTIVE,2001.0,869.0
736,737,Unfurnished,North,$210 monthly HOA fee,NaN,7200020,360000,2,Condo,2,2.0,2.0,"13604 Caldwell Dr #29,",Austin,TX,USA,Has A/C,1106.0,ACTIVE,NaN,FOR SALE - ACTIVE,2007.0,325.0
737,738,Fully Furnished,East,2 garage spaces,NaN,9500020,475000,3,Single-family,3,2.0,2.0,"1615 Glencrest Dr,",Austin,TX,USA,In-unit laundry (washer and dryer),1243.0,ACTIVE,NaN,FOR SALE - ACTIVE,1958.0,382.0
738,739,Semi Furnished,East,$65 monthly HOA fee,NaN,9400020,470000,3,Single-family,3,2.0,2.0,"10668 Windrose Point Ave,",Las Vegas,NV,USA,Has A/C,1305.0,ACTIVE,NaN,FOR SALE - ACTIVE,2000.0,360.0
739,740,Semi Furnished,North,$35 monthly HOA fee,NaN,9640020,482000,4,Single-family,4,3.0,2.0,"4617 Ashington St,",Las Vegas,NV,USA,Has A/C,1924.0,ACTIVE,NaN,FOR SALE - ACTIVE,1997.0,251.0

In [7]:
df.isnull().sum()

Sno              0
Furnished      120
Facing         110
Parking        190
Ownership      740
Booking          0
Buy              0
BHK              0
Property        30
Beds             0
Baths           30
Balcony        180
Address          0
City             0
State            0
Country          0
Landmarks       20
Carpet         290
Status          50
Floor          420
Transaction      0
Year            40
Price          110
dtype: int64